name: "Build docs"

on:
    pull_request:
    push:
        branches:
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-python@v5
              with:
                  python-version: '3.12'

            - name: Install Python requirements
              run: pip install -r requirements.txt

            - name: Sphinx Build
              run: sphinx-build -n -W --keep-going -b html -d _build/doctrees . _build/html

            - uses: actions/upload-artifact@v4
              with:
                  name: DocumentationHTML
                  path: "_build/html"
